ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
}
li {
  padding: 2vh;
  margin: 2vh;
  font-size: 1.3rem;
}
nav {
  background-color: #b8a9a9;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main {
  flex: 1;
}
